<%- include("header")  -%>

<h2>We're providing a Platform where you can create your own group to work together. </h2>
<p>Post your aim/interest here.we'll offer person with same interest and knowledge.so,you'll be able to work with them.</p>

<%- include("footer")  -%>
